name: build

on:
  push:
    branches: [ 'master', 'feature/**' ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]

env:
  SONAR_URL: https://sonarcloud.io
  SONAR_PROJECTKEY: ${{ github.repository_owner }}_${{ github.event.repository.name }}
  SONAR_ORGANIZATION: ${{ github.repository_owner }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Build with Maven
        run: |
          mvn -B verify
